@charset "UTF-8";
/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

.mt20 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 3rem;
}

.heading-type1 {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.text-type1 {
  color: #005bac;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-type2 {
  color: #777;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.05rem;
}

.image-type1 img {
  width: 100%;
}

.btn-type1 {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  background: url(../images/ico_btn1.svg) no-repeat right 1.2rem center;
  display: flex;
  align-items: center;
  border: 0.1rem solid #bdbdbb;
  height: 4.8rem;
  padding-inline: 1.2rem;
}

.table-type2 tr td:first-child {
  text-align: left;
}
.table-type2 th {
  color: #333;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 16px;
  border-top: 2px solid #005bac;
  border-bottom: 1px solid #005bac;
}
.table-type2 th:first-child {
  text-align: left;
}
.table-type2 td {
  color: #777;
  line-height: 24px;
  padding: 24px 20px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
.table-type2 td a {
  background: url(../images/ico_mail2.svg) no-repeat center;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.table-type3 th {
  color: #333;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 16px;
  border-top: 2px solid #005bac;
  border-bottom: 1px solid #005bac;
  text-align: center;
}
.table-type3 td {
  color: #777;
  line-height: 24px;
  padding: 24px 20px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}
.table-type3 td:nth-of-type(2) {
  text-align: left;
}

.table-type4 th {
  color: #333;
  font-weight: 700;
  line-height: 24px;
  padding: 24px 16px;
  border-top: 2px solid #005bac;
  border-bottom: 1px solid #005bac;
  text-align: center;
}
.table-type4 td {
  color: #777;
  line-height: 24px;
  padding: 24px 355px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  white-space: nowrap;
}
.table-type4 td ~ td {
  padding: 24px 20px;
  text-align: center;
}
.table-type4 span {
  position: relative;
  display: inline-block;
  padding-left: 7px;
  text-indent: 10px;
}
.table-type4 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 1000px;
  background: #777;
}

:root {
  --eng: "Roboto", sans-serif;
}

.content-type5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 60px;
  border: 4px solid #005bac;
}
.content-type5 .heading-type5 h3 {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
}
.content-type5 .heading-type5 span {
  font-weight: 300;
}
.content-type5 p {
  color: #333;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  font-family: var(--eng);
}
.content-type5 .recruitment-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 679px;
}
.content-type5 .recruitment-list__download {
  color: #94c0e9;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  display: block;
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid #94c0e9;
  text-align: center;
  white-space: nowrap;
}

.history {
  padding: 20px;
}
.history-list {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 120px;
}
.history-list__item:nth-of-type(1) {
  grid-row: 1/4;
}
.history-list__item:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 107px 212px;
  border: 1px solid #e1e1e1;
}
.history-list__item:nth-of-type(3) {
  color: #333;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.5px;
  padding-top: 80px;
}
.history-list__item:nth-of-type(4) {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

:root {
  --eng: "Roboto", sans-serif;
}

.footer {
  position: relative;
}
.footer-nav {
  display: flex;
  position: relative;
  align-items: center;
}
.footer-nav li {
  color: #777;
  line-height: 12px;
  letter-spacing: -0.5px;
  margin-right: 12px;
}
.footer-nav li:nth-of-type(2) {
  margin-right: 4px;
}
.footer-nav li:nth-of-type(3) {
  margin-right: 0;
  margin-left: 4px;
}
.footer__bottom .company-list li strong {
  color: #333;
  line-height: 12px;
  letter-spacing: -0.5px;
}
.footer__bottom .company-list li span {
  color: #777;
  line-height: 12px;
  font-family: var(--eng);
}
.footer__copyright {
  color: #bebebe;
  line-height: 12px;
  font-family: var(--eng);
}
.footer .--before {
  position: relative;
}
.footer .--before::before {
  color: #777;
  font-size: 12px;
  line-height: 12px;
  content: "‧";
  display: inline-block; /* inline-block으로 변경 */
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  width: 3px;
  font-family: var(--eng);
  margin-right: 4px; /* 오른쪽 간격 설정 */
}

/*# sourceMappingURL=style.css.map */
