:root {
  --eng: "Roboto", sans-serif;
}

.footer {
  position: relative;
  // footer__top
  &__top {
  }
  // footer-nav
  &-nav {
    display: flex;
    position: relative;
    align-items: center;

    li {
      @include font(#777, null, null, 12px, -0.5px);
      margin-right: 12px;

      &:nth-of-type(2) {
        margin-right: 4px;
      }
      &:nth-of-type(3) {
        margin-right: 0;
        margin-left: 4px;
      }
    }
  }
  // footer__bottom
  &__bottom {
    .company-list {
      li {
        strong {
          @include font(#333, null, null, 12px, -0.5px);
        }
        span {
          @include font(#777, null, null, 12px, null);
          font-family: var(--eng);
        }
      }
    }
  }
  &__copyright {
    @include font(#bebebe, null, null, 12px, null);
    font-family: var(--eng);
  }

  .--before {
    position: relative;
    // &::before {
    //   @include font(#777, 12px, null, 12px, null);
    //   content: "‧";
    //   display: inline-block;
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   width: 3px;
    //   font-family: var(--eng);
    // }

    &::before {
      @include font(#777, 12px, null, 12px, null);
      content: "‧";
      display: inline-block; /* inline-block으로 변경 */
      position: absolute;
      top: 50%;
      left: -4px;
      transform: translateY(-50%);
      width: 3px;
      font-family: var(--eng);
      margin-right: 4px; /* 오른쪽 간격 설정 */
    }
  }
}
