.history {
  padding: 20px;

  &-wrap {
    @include grid(grid, min-content 1fr, null, start, 0 120px);
  }
}
.history-img {
  grid-row: 1 / 4;
}
.history-logo {
  @include flex(flex, row wrap, center, center, null);
  @include border(1px, solid, #e1e1e1);
  padding: 107px 212px;
}
.history-title {
  @include font(#333, 40px, 900, 1, -0.5px);
  padding-top: 80px;
}

.history-content {
  @include font(#333, 24px, 400, null, null);
  padding-top: 20px;
}
