.table-type2 {
  th {
    @include font(#333, null, 700, 24px, null);
    @include border(2px, solid, #005bac, top);
    @include border(1px, solid, #005bac, bottom);
    padding: 24px 16px;
  }
  td {
    @include border(1px, solid, #e1e1e1, bottom);
    padding: 24px 20px;
    text-align: center;
  }
}

.email-btn {
  @include background("ico_mail2.svg", center);
  display: inline-block;
  width: 24px;
  height: 24px;
}

.text-left {
  text-align: left;
}

.ct-type2--text {
  @include font(#777, null, null, 24px, null);
  display: block;
}
