.list-type2 {
  @include flex(flex, row nowrap, null, center, 20px);
  @include border(1px, solid, #fac300, bottom);
  padding: 28px 0 28px 348px;

  &__link {
    @include flex(flex, row nowrap, space-between, center, 20px);
    @include font(#666, null, null, null, -0.8px);

    &::after {
      @include background("ico_arrow_right.svg", center);
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
}

.fw-700 {
  font-weight: 700;
}

.text-underline {
  text-decoration-line: underline;
  &::after {
    display: none;
  }
}
