// triangle
@mixin triangle($direction, $size, $color) {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: math.div($size, 2);

  @if $direction == "up" or $direction == "u" {
    border-bottom-color: $color;
  } @else if $direction == "d" {
    border-top-color: $color;
  } @else if $direction == "r" {
    border-left-color: $color;
  } @else if $direction == "l" {
    border-right-color: $color;
  }
}

// position
@mixin position($xValue, $yValue) {
  position: absolute;
  left: $xValue;
  top: $yValue;

  @if $xValue == 50% and $yValue == 50% {
    transform: translate(-50%, -50%);
  } @else if $yValue == 50% {
    transform: translateY(-50%);
  } @else if $xValue == 50% {
    transform: translateX(-50%);
  }
}

// a11y-hidden
@mixin a11y-hidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

// background
@mixin background($fileName, $coordinate) {
  background: url(#{$imageUrl}#{$fileName}) no-repeat #{$coordinate};
}

@mixin font($color, $fontSize, $fontWeight, $lineHeight, $letterSpacing) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin border($borderWidth, $borderStyle, $borderColor) {
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin flex($flex, $flow, $justify, $align, $gap) {
  display: $flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($grid, $columns, $rows, $align, $gap) {
  display: $grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  align-items: $align;
  gap: $gap;
}
